.add-list {
  padding: 10px 10px;
  margin-bottom: 10px;
  max-height: 100%;
  white-space: nowrap;
}

.add-list:focus {
  outline: none;
}

.add-list:not(.active):hover {
  background: #ecf0f3;
  cursor: pointer;
}

.active {
  padding-top: 0.25rem;
}

.menu {
  margin-bottom: 5px;
}

.add {
  white-space: nowrap;
  padding: 5px;
}

.add-col {
  height: fit-content;
  max-height: unset;
  max-width: 18rem;
  min-width: 18rem;
  padding-bottom: 0px;
}