.card {
  font-size: 0.85rem;
  margin-bottom: 5px;
  white-space: break-spaces;
  word-break: break-word;
}

.card:focus {
  outline: none;
}

.card-title {
  white-space: break-spaces;
  word-break: break-word;
}

.card-labels {
  display: flex;
  flex-wrap: wrap;

  text-align: justify;
  text-align-last: left;
  word-wrap: break-word;
}

.card-labels:first-child {
  margin-left: 0;
  margin-top: 0;
}

.badge {
  margin-left: 5px;
  margin-top: 2px;
  max-width: 100%;
  padding: 2px 4px;
  text-overflow: ellipsis;
}