.comments {
  margin-bottom: 0 !important;
}

.comments>.menu {
  margin-top: 8px;
}

.comment-view {
  /* margin-bottom: 10px; */
}

.comment-view>* {
  margin-bottom: 8px;
}

.comment-view>*+* {
  margin-top: 8px;
}

.comment {
  border: 1px solid black;
}

.comment>.header {
  border-bottom: 1px solid black;
}

.comment>.body {
  max-width: 100%;
  padding: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}