.label-badge {
  cursor: pointer;
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.labels {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.show {
  text-align: justify;
  text-align-last: left;
  word-wrap: break-word;
}

.labels-cancel {
  margin-bottom: 5px;
  font-weight: 500 !important;
}

.labels-title {
  margin-top: 5px;
}

.label-item {
  max-width: 100%;
}

.label-description {
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
}

.card-label-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 100%;
}

.labels-header {
  margin-top: 3px;
}

.selector>*+* {
  margin-left: 5px;
}

.selector>* {}

.modal-container {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* .modal-container:first-child { */
/*   margin-top: -25%; */
/* } */

.modal {
  margin-top: -25%;
  pointer-events: auto;
}

.label-cover {
  z-index: 3 !important;
}

.label-item + .label-item {
  margin-top: 0.5rem;
}
