.settings {
  min-width: 20rem;
  max-width: 20rem;
  padding: 10px;
  margin-left: -15px;
  overflow-y: auto;
}

.settings > * {
  margin-bottom: 10px;;
}

.z-0 {
  z-index: 0;;
}

.labels-title {
  margin-top: 3px;
}

.label-item-box {
  width: 30px;
}

.label-item:hover {
  cursor: pointer;
}
