.add-list {
  display: block;
  padding: 8px 10px !important;
}

.add-list:focus {
  outline: none;
}

.add-list:not(.active):hover {
  background: #ecf0f3;
  cursor: pointer;
}

.add-list:not(.active) > .list-header {
  margin-bottom: 0;
}

.active {
  padding-top: 4px;
}

.add-list > .btn {
  color: black;

  font-size: 14px;
  font-weight: 600;

  padding: 0px 0px 0px 5px;
  text-align: right;
}

.btn.noselect > * {
  margin-left: 5px;
}
