.board-view {
  background: linear-gradient(#1e528e 0%, #2d91c2 100%); /* day time sky */
  /* night time sky */
  background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283E51, #0A2342); 

  font-family: 'Roboto' !important;
  height: 100%;
  width: 100%;
}

.board {
  max-height: calc(100% - 4.063rem);
  height: 100%;
}

.content {
  height: 100%;
  max-height: 100%;
}

.lists {
  background: transparent;
  margin: 0 15px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px !important;
  vertical-align: top;
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.hover-link {
  margin-left: 0;
  width: 0 auto;
}

.hover-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
