.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100% - 4.063rem);
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
}

.lists {
  background: transparent;
  display: flex;
  flex: 1 1 auto;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  overflow-x: auto;
  padding: 0px !important;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 0.625rem;
  overflow-y: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.hover-link {
  margin-left: 0;
  width: 0 auto;
}

.hover-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
