.card-view {
  font-family: 'Roboto';
  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 5px;

  width: 20%;
  min-width: 400px;
  max-width: 450px;

  padding: 8px 8px;
  margin-bottom: 0;
  height: calc(100% - 10px) !important;
  margin-left: 5px;
  margin-right: 0.625rem;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
   -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
  text-align: center;
  position: relative;
  overflow-y: auto;
}

.card-view > * {
  margin-bottom: 10px;
}

.card-view > .textarea {
  border-radius: 2px;
  border: 1px solid black;
  display: block;

  font-family: 'Roboto';
  font-size: 0.9rem;
  font-weight: 600;

  padding: 4px 4px;
  resize: none;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-view > .comments {
  font-family: 'Roboto';
  font-size: 0.9rem;

  text-align: left;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
}

.comment-view {
  margin-top: 5px;
}

.comment-view > * + * {
  margin-top: 8px;
}

.comment > .header {
  border: 1px solid black;
  padding: 4px;
  font-size: 0.85rem;
}

.comment > .body {
  font-family: 'Roboto';
  font-size: 0.85rem;

  max-width: 100%;
  display: flex;
  padding: 4px;
  border: 1px solid black;

  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  border-top: none;
  border-radius: 0px 0px 3px 3px;
  border-bottom: 1px solid black;
}

.comment-input {
  font-family: 'Roboto';
  font-size: 0.85rem;

  margin-top: 10px;
  width: 100%;
  padding: 2px 4px;
  resize: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.comments > .toolbar {
  margin-top: 8px;
}

.textarea-100 {
  width: inherit;
}

.comments {
  display: block;
}

.card-view > .toolbar {
  font-family: 'Roboto';
  font-size: 0.9rem;
  text-align: center;

  display: flex;
  flex: 1;
  flex-direction: row;

  max-width: 100%;
  width: 100%;
}

.card-view > .toolbar > * {
  background: none;
  border-radius: 0px;
  border: 1px solid black;

  font-size: 0.80rem;
  font-family: "Roboto";

  padding: 2px 4px;
  width: 25%;
}

.card-view > .toolbar > * + * {
  border-left: none;
}

.card-view > .toolbar > *:hover {
  font-weight: 600;
}

.card-view > .toolbar > .first {
  border-radius: 3px 0px 0px 3px;
}

.card-view > .toolbar > .last {
  border-radius: 0px 3px 3px 0px;
}

