.card-view-cover {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  padding: 0 auto;
  padding-bottom: 125px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}

.card-view {
  margin: 0 auto;
  height: 98%;
  max-width: 25%;
  min-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  padding: 10px 15px 15px 15px !important;
  width: 25%;
}

.card-view > * {
  margin-bottom: 10px;
}

.menu-bar {
  margin: 15px 0px;
}
