.card {
  background-color: white;
  border-radius: 3px;

  font-size: 0.9rem;

  margin-bottom: 5px;
  padding: 5px 10px;

  white-space: break-spaces;
  word-break: break-all;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
   -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
}

.card-title {
  font-weight: 600;

  white-space: break-spaces;
  word-break: break-all;
}

.card-description {
  word-break: break-all;
  word-wrap: break-word;
  white-space: break-spaces;
}

