.card-view-cover {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  padding: 0 auto;
  padding-bottom: 125px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}

.card-view {
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 25%;
  min-width: 500px;
  max-height: none;
  overflow-y: hidden;
  padding: 10px 15px 15px 15px;
  width: 25%;
}

.card-view > * {
  margin-bottom: 10px;
}

.comment-view {
  margin-top: 5px;
}

.comment-view > * + * {
  margin-top: 8px;
}

.comment > .header {
  border: 1px solid black;
  padding: 4px;
  font-size: 0.85rem;
}

.comment > .body {
  font-size: 0.85rem;

  max-width: 100%;
  display: flex;
  padding: 4px;
  border: 1px solid black;

  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;

  border-top: none;
  border-radius: 0px 0px 3px 3px;
  border-bottom: 1px solid black;
}

.comment-input {
  font-size: 0.85rem;

  margin-top: 10px;
  width: 100%;
  padding: 2px 4px;
  resize: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea-100 {
  width: inherit;
}

.comments {
  display: block;
  text-align: left;
  margin-bottom: 0 !important;
}

.comments > .menu {
  margin-top: 8px;
  text-align: right;
}

.comments > .menu > * + * {
  margin-left: 5px;
}

.margin-0 {
  margin: 0;
}

.right {
  float: right;
}

.comment-view > * {
  margin-bottom: 8px; 
}

