.card {
  font-size: 0.85rem;
  margin-bottom: 5px;
  padding: 5px 10px;
  white-space: break-spaces;
  word-break: break-all;
}

.card-title {
  white-space: break-spaces;
  word-break: break-all;
}

.card-description {
  white-space: break-spaces;
  word-break: break-all;
  word-wrap: break-word;
}

