.list-col {
  max-height: 90vh;
  min-height: 100%;
  max-width: 21rem;
  min-width: 21rem;
}

.list {
  margin-bottom: 10px;
  max-height: inherit;
  padding: 5px 5px 0px 5px;
  white-space: nowrap;
}

.list-header {
  flex-shrink: 0;
  margin-bottom: 5px;
  padding: 0px;
  white-space: break-spaces;
  word-break: break-all;
  word-wrap: break-word;
}

.list-body:empty {
  box-shadow: none;
  padding-top: 1px;
}

.list-body:not(empty) {
  border-radius: 3px;
  box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
   -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
  overflow-y: auto;
  padding: 5px 5px 0px 5px;
}

.list-footer {
  flex-shrink: 1;
  margin-top: 5px;
  padding: 0;
}

.title {
  border: 1px solid white;
}

.title:first-child {
  cursor: pointer;
}
