.navbar {
  max-height: 1.25rem;
  margin-bottom: 15px;
  padding: 5px;
}

.title-input {
  font-size: 0.9rem;
  font-weight: 600;
  width: 70%;
}

.navbar > div { 
  flex-direction: row;
  margin: 0;
  max-height: 1.25rem;
  max-width: calc(100% / 3);
  width: calc(100% / 3);
}

.navbar > div > * + * {
  margin-left: 5px;
}

.center {
  text-align: center;
}
