.card-view {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 5px;
  min-width: 380px;
  max-width: 380px;
  padding: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 0.625rem;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
   -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
  background: white;
}
