html,
body {
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  font-family: 'Roboto' !important;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

* {
  font-family: 'Roboto' !important;
}

*:focus {
  outline: 2px solid #0079bf;
  border: 1px solid transparent;
}

textarea {
  font-family: 'Roboto' !important;
}

textarea:focus {
  outline: 1px solid #0079bf;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;

  width: 100%;
  max-width: 100%;
}

button.default {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 600;
  padding: 2px 6px;
}

textarea.default {
  border: 1px solid black;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 4px 8px;
  resize: none;
  width: 100%;
}

.bg-white {
  background: white;
}

.border-sized {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.br-3 {
  border-radius: 3px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-1-1 {
  flex: 1 1 auto;
}
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flat {
  box-shadow: none;
}

.font-85 {
  font-size: 0.85rem;
}

.font-90 {
  font-size: 0.90rem;
}

.font-95 {
  font-size: 0.95rem;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.inline {
  display: inline;
}

.no-outline {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shadow {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
   -5px -5px 10px 0 rgba(255, 255, 255, 0.3);
}

.spaced-left > * + * {
  margin-right: 5px;
}

.spaced-right > * + * {
  margin-left: 5px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
