html,
body {
  color: black;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

* {
  color: black;
  font-family: 'Segoe UI', 'Verdana', 'Arial';
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.markdown {
  line-height: 10px;
  min-height: calc(4 * 0.85rem);
}

.markdown>p {
  margin: 0;
  word-break: break-all;
  white-space: normal;
  padding: 0;
  line-height: 16px;
}

.markdown>pre {
  margin: 0;
}

p {
  margin: 0;
}

.markdown>ul,
ol {
  margin: 0;
  padding-left: 20px;
}

.markdown>h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 5px;
}

.markdown>pre>code {
  font-family: 'Courier New', Courier, monospace !important;
  word-wrap: break-word;
  white-space: normal;
  line-height: 16px;
  white-space: pre-line;
}

a {
  color: blue;
}

input:focus {
  outline: none;
}

textarea {
  padding: 0.25rem 0.5rem;
}

textarea:focus {
  outline: none;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;

  width: 100%;
  max-width: 100%;
}

button.default {
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 6px;
}

input[type=text].default {
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px 0.25rem;
}

select.default {
  background: white;
}

textarea.default {
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  resize: none;
  width: 100%;
  word-break: break-word;
}

.bg-none {
  background: none;
}

.bg-white {
  background: white;
}

.bg-grey {
  background: #ecf0f3 !important;
}

.block {
  display: block;
}

.br-default {
  border: 1px solid black;
}

.border-sized {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.br-3 {
  border-radius: 3px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-1-1 {
  flex: 1 1 auto;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flat {
  box-shadow: none;
}

.font-75 {
  font-size: 0.70rem;
}

.font-80 {
  font-size: 0.80rem;
}

.font-85 {
  font-size: 0.85rem;
}

.font-90 {
  font-size: 0.90rem;
}

.font-95 {
  font-size: 0.95rem;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.no-outline {
  outline: none;
}

.no-bdr {
  outline: none;
  border: none !important;
}

.no-bdr:focus {
  outline: none;
}

.no-pad {
  padding: 0 !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pad-5 {
  padding: 5px;
}

.red {
  color: red;
}

.relative {
  position: relative;
}

.spaced-left>*+* {
  margin-right: 5px;
}

.spaced-right>*+* {
  margin-left: 5px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.z-2 {
  z-index: 2 !important;
}

.w-100 {
  width: 100%;
}

.dropdown {
  display: inline-block;
  border: 1px solid black;
  font-size: 0.85rem;
}

.dropdown-title {
  margin: 1px 6px;
}

.dropdown:hover {
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  min-width: 90px;
  z-index: 1;
  margin-left: -1px;
  padding: 3px 0px;
  width: fit-content;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 2px 0.25rem;
}

.dropdown-item:hover {
  background: grey;
}